:root {
  --grid-cols: 1;
  --grid-rows: 1;
}
body {
  margin: 0;
  box-sizing: border-box;
}
#container {
  display: flex;
  flex-direction: column;
  border-color: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
  margin: 25px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.boxes {
  border-color: 1px solid black;
}

.boxes {
  display: grid;
  grid-template: 150px / auto auto auto;
}
