/* default number of rows and cols */
:root {
  --grid-cols: 16;
  --grid-rows: 16;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 24px;
}
#container {
  position: relative;
  text-align: center;
}

.buttons {
  display: flex;
  flex-direction: ;
  justify-content: center;
  gap: 15px;
  padding: 30px;
}

#grid-box {
  display: grid;
  height: 550px;
  width: 550px;
  box-shadow: 1px 1px 5px black;
}

.boxes {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 0;
  flex-wrap: wrap;

  margin: auto;
  border: solid black 1px;
}
